bfv_results.csv
bgv_results.csv
build/exec
build/CMakeFiles/CMakeOutput.log
build/.cmake/api/v1/reply/index-2025-05-24T11-27-30-0154.json
build/CMakeFiles/exec.dir/main.cpp.o
build/CMakeFiles/CMakeOutput.log
build/exec
